{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions"]
            }
          }
        ],
        "stage-0",
        "react"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current",
              "browsers": ["last 2 versions"]
            }
          }
        ],
        "stage-0",
        "react"
      ]
    },
    "production": {
      "presets": [
        ["next/babel", {
          "env": {
              "targets": {
                "browsers": "> 5%"
              }
            }
        }],
        "stage-0"
      ]
    }
  },

  "plugins": [
    ["transform-runtime"]
  ]
}
